.wrapper {
    width: 100vw;
    height: 100vh;
}

.flex-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.editor-wrapper {
    flex-grow: 1;
    width: 90%;
    border: solid 5px antiquewhite;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

